<footer class="footer red">
    <div class="innerFooter">
        <div class="nameText">
            <a class="customLink" href="https://github.com/strawhat19/Tech-Blog" target="_blank" title="GitHub Pages Deployment"><i class="fab fa-github"></i> | Tech Blog</a>
        </div>
        <div class="siteText copyright">Copyright <i class="fas fa-copyright"></i> <span class="yearHere"></span></div>
    </div>
</footer>