<main>
    <div class="title">
        <a href="/">
            <img src="https://raw.githubusercontent.com/strawhat19/Tech-Blog/f0b8bd7fc416e897931f7f059546db7ee7c1593a/public/assets/graphics/TechBlog.svg" title="Tech Blog" alt="Tech Blog Logo" class="techBlogLogo">
            <h1>Tech Blog</h1>
        </a>
    </div>
</main>